Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
EditorOpenOrder.log
CookerOpenOrder.log

L_Anim_Working_in_Heights_BuiltData.uasset
L_Dev_Working_in_Heights_BuiltData.uasset
L_Dev_Working_in_Heights_UI_BuiltData.uasset
L_SO_Working_at_Heights_Light_static_BuiltData.uasset
L_SO_Light_Working_in_Hights_BuiltData.uasset
L_SO_Modelltest_Hazardous_Substances_UI_BuiltData.uasset
L_SO_Modelltest_Tutorial_BuiltData.uasset
L_SO_Modelltest_Woring_in_Hights_new_backup_BuiltData.uasset
L_SO_Modelltest_Woring_in_Hights_new_BuiltData.uasset
L_SO_Modeltest_Firefighting_BuiltData.uasset
L_hazard_Hunt_Production_BuiltData.uasset

test1_BuiltData.uasset
test2_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Production_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Production_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Production_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Office_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Office_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Office_Lightbuild_Test_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Production_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Production_Lightbuild_Test_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazardous_Situations_Office_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazardous_Situations_Waste_disposal_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazardous_Situations_Production_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Waste_disposal_Lightbuild_Test_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Production_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Office_Lightbuild_Test_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Office_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Office_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Office_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Office_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Office_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Office_Lightbuild_Test_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Production_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Waste_disposal_Lightbuild_Test_BuiltData.uasset
Content/VR_MONDI/Levels/L_hazard_Hunt_Office_BuiltData.uasset
